<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accuieil-a" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="container">
      <h1>DigitBank</h1>
    </div>
   
    <ion-card>
      <p>Nouveau depot</p>
      <!-- <ion-input class="int1"    placeholder="Entrer le numero du compte" [(ngModel)]="depot.numeroCmpt">
        <ion-icon slot="start" src="../../../assets/icon/person.svg" aria-hidden="true"></ion-icon>
      </ion-input> -->

      <ion-input class="int1"   placeholder="Entrer Le Motif du depot  " [(ngModel)]="depot.motif"> 
        <ion-icon slot="start" src="../../../assets/icon/person.svg"  aria-hidden="true"></ion-icon>
      </ion-input>

      <ion-input class="int1"   placeholder="Entrer l'origine des fonds" [(ngModel)]="depot.source">
        <ion-icon slot="start" src="../../../assets/icon/mail.svg" aria-hidden="true"></ion-icon>
      </ion-input>

      <ion-input  type="number" placeholder="Entrer le Montant du depot" [(ngModel)]="depot.montant">
        <ion-icon slot="start" src="../../../assets/icon/lock.svg" aria-hidden="true"></ion-icon>
      </ion-input>

      <ion-button size="small" (click)="deposer()"   fill="clear" s>
        <ion-text >Valider</ion-text>        
      </ion-button>
    </ion-card>
  </ion-content>
</ion-content>


