*{
    font-family: K2D-SemiBold;
  }
  
  ion-toolbar {
    --background: #ffffff;
  }
  ion-content{
    --background: #E2FFE5;
    h1{
      font-size: 40px;
      text-align: center;
      color: #3F4F27;
      margin-top: 20px;
      font-weight: 20px;
    }

    ion-card{
      margin-top: 10%;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 5%;
      height: 85%;
    }


    ion-button{
      --background: #3F4F27;
      text-align: center;
      color: white;
      height: 10%;
      width: 80%;
      margin-left:10%;
      margin-right: 10%;
      margin-top: 45px;
      --border-radius: 10px;
    }

    p{
      font-size: 26px;
      color: #3F4F27;
      text-align: center;
    }
    input{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        --border-radius: 5px;
        height:60px;

    }

    ion-input{
      --background: #E2FFE5;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      --border-radius: 5px;
      height:60px;
      

    }
    h2{
        font-size: 20px;
        color: #898F7F;
        text-align: center;
      }

    h3{
        color: #FF0000;
    }


    .int1{
      margin-bottom: 10px;
    }

    ion-icon{
      margin-left: 15px;
      height: 24px;
      width: 24px;
      
    }

    ion-select{
        width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      --border-radius: 5px;
      height:60px;
    }

   

    
  }

  