<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accuieil-a" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="container">
      <h1>DigitBank</h1>
    </div>
   
    <ion-card>
      <h2>Que souhaitez-vous faire maintenant ??? </h2>   
      <ion-button size="small" (click)="transaction()"   fill="clear" s>
        <ion-text >Gerer les transactions</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="gererClients()"   fill="clear" s>
        <ion-text >Gerer les Clients</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="gererGestionnaires()"   fill="clear" s>
        <ion-text >Gerer les Utilisateurs</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="deconnection()"   fill="clear" s>
        <ion-text >Se deconnecter</ion-text>        
      </ion-button>
    </ion-card>
  </ion-content>
</ion-content>


