<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accuieil-a" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-content [fullscreen]="true"> -->
    <div class="container">
      <h1>DigitBank</h1>
    </div>
   
    <ion-card >
     <h1>Historique des transactions</h1>
     <!-- <ion-searchbar placeholder="Rechercher un operation par son numero"  (ionInput)="onSearchChange($event)"></ion-searchbar> -->
     <ion-item> 
      <ion-label>
        <h2>Date</h2>
      </ion-label>
      <ion-label>
        <h2>Operation</h2>
      </ion-label>
      <ion-label>
        <h2>Motif</h2>
      </ion-label>
      <ion-label>
        <h2>Montant</h2>
      </ion-label>
    </ion-item>
      <ion-list *ngFor="let operation of operations" >
        
        <ion-item> 
          <ion-label>
            <h2>{{dateF(operation.creationDate)}}</h2>
          </ion-label>
          <ion-label>
            <h2>{{operation.dtype}}</h2>
          </ion-label>
          <ion-label>
            <h2>{{operation.motif}}</h2>
          </ion-label>
          <ion-label>
            <h2>{{operation.montant}} FCFA</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  <!-- </ion-content> -->
  <!-- <ion-fab-button (click)="nouveau()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button> -->
</ion-content>


