<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accuieil-a" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="container">
      <h1>DigitBank</h1>
    </div>
   
    <ion-card>
      <h2>Que souhaitez-vous faire maintenant ??? </h2>   
      <ion-button size="small" (click)="depot()"   fill="clear" s>
        <ion-text >Effectuer un depot</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="retrait()"   fill="clear" s>
        <ion-text >Effectuer un Retrait</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="virement()"   fill="clear" s>
        <ion-text >Effectuer un Virement</ion-text>        
      </ion-button>
      <ion-button size="small" (click)="solde()"   fill="clear" s>
        <ion-text >Consulter le solde d'un compte</ion-text>        
      </ion-button>
    </ion-card>
  </ion-content>
</ion-content>


