<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accuieil-a" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="container">
      <h1>DigitBank</h1>
    </div>
   
    <ion-card>
      <p>Solde</p>
      <ion-item>
        <ion-label>
          <h2>le solde du compte numero {{compte.numero}} a la date du {{date}} est de : <strong>{{compte.solde}} FCFA</strong></h2>
        </ion-label>
      </ion-item>

      <ion-button size="small" (click)="historique()"   fill="clear" s>
        <ion-text >Consulter l'historique des transactions</ion-text>        
      </ion-button>
    </ion-card>
  </ion-content>
</ion-content>


